* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.product-detail-wrap {
    width: 3.75rem;
    padding-bottom: 0.66rem;
    background: #f3f4f5;
    box-sizing: border-box;
}

.g-relative {
    position: relative;
    width: 100%;
}

.bar-left {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0.15rem;
    left: 0.1rem;
    z-index: 1;
}

.bar-left .back-btn {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0.05rem;
    box-sizing: border-box;
}

.bar-left .back-btn img {
    display: block;
    width: 100%;
    height: 100%;
}

.bar-right {
    width: 0.83rem;
    height: 0.32rem;
    border-radius: 0.32rem;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
    padding: 0 0.1rem 0.02rem;
    box-sizing: border-box;
    z-index: 1;
}

.bar-right .fav-btn {
    width: 0.3rem;
    height: 0.3rem;
    display: block;
    float: left;
    margin-right: 0.03rem;
}

.bar-right .fav-btn img {
    display: block;
    width: 100%;
    height: 100%;
}

.bar-right .share-btn {
    width: 0.3rem;
    height: 0.3rem;
    display: block;
    float: left;
}

.bar-right .share-btn img {
    display: block;
    width: 100%;
    height: 100%;
}

.product-swipe {
    position: relative;
    width: 100%;
    height: 3.75rem;
}

.product-swipe img {
    display: block;
    width: 100%;
    height: 100%;
}


/* ---------------g-relative------------------ */


.product-price {
    box-sizing: border-box;
    width: 100%;
    height: 0.68rem;
    background-color: #fff;
    overflow: hidden;
}

.price-bar-wrap {
    padding-top: 0.15rem;
    padding-left: 0.15rem;
    float: left;
    overflow: hidden;
}

.product-price .main-prices {
    height: 0.25rem;
}

.product-price .main-prices .icon-normal {
    display: block;
    background-image: linear-gradient(270deg, #cb78dc, #de3d96);
    border-radius: 0.2rem;
    margin-right: 0.1rem;
    color: #fff;
    font-size: 0.12rem;
    padding: 0.03rem 0.08rem;
    float: left;
}

.product-price .main-prices .price {
    display: block;
    box-sizing: border-box;
    margin-right: 0.1rem;
    color: #222;
    font-size: 22px;
    font-family: PingFangSC-Medium;
    line-height: 0.2rem;
    float: left;
}

.product-price .main-prices .help-prices {
    margin-top: 0.08rem;
    font-size: 0.14rem;
    float: left;
    overflow: hidden;
    display: block;
}

.product-price .main-prices .help-prices .market-price {
    display: block;
    font-size: 0.14rem;
    color: #98989f;
    line-height: 0.14rem;
    text-decoration: line-through;
    float: left;
    margin-right: 0.03rem;
}

.product-price .main-prices .help-prices .discount {
    display: block;
    font-size: 0.14rem;
    color: #98989f;
    line-height: 0.14rem;
    float: left;
}

.product-price .refer-prices {
    display: block;
    margin-top: 0.03rem;
    overflow: hidden;
}

.product-price .refer-prices .rerfer-price {
    display: block;
    color: #98989f;
    font-size: 0.14rem;
}


/* ------------product-price--------------- */


.product-name {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    padding: 0.1rem;
}

.product-name .name-box {
    position: relative;
    color: #222;
    line-height: 0.14rem;
    font-size: 0.14rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-name .sub-name {
    position: relative;
    color: #98989f;
    line-height: 0.12rem;
    font-size: 0.12rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.1rem;
}


/* ----------------product-name-------------------- */



.product-sku {
    margin-top: 0.05rem;
    padding-top: 0.15rem;
    background-color: #fff;
}

.product-sku .sku-size {
    padding-bottom: 0.12rem;
}

.product-sku .sku-size .sku-hd {
    padding: 0 0.1rem;
    margin-bottom: 0.1rem;
}

.product-sku .sku-size .sku-hd .title {
    font-weight: 700;
    color: #222;
    font-size: 0.15rem;
    display: block;
}

.product-sku .sku-size .vip-grid-select {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 0.1rem;
}

.product-sku .sku-size .vip-grid-select .grid-option {
    width: 1.05rem;
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    float: left;
    position: relative;
}

.product-sku .sku-size .vip-grid-select .grid-option::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1px solid #e7e7e7;
    transform-origin: left top;
    transform: scale(.5);
    z-index: 100;
    border-color: #c5c5c5;
}

.product-sku .sku-size .vip-grid-select .grid-option span {
    display: block;
    color: #222;
    font-size: 0.12rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.product-sku .sku-size .vip-grid-select .grid-option .icon-filter-checked {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 0.18rem solid #de3d96;
    border-left: 0.18rem solid transparent;
}


.product-sku .sku-size .vip-grid-select .grid-option .icon-filter-checked img {
    display: block;
    width: 0.09rem;
    height: 0.09rem;
    position: absolute;
    bottom: -0.18rem;
    right: 0;
}

.product-sku .sku-size .vip-grid-select .checked .icon-filter-checked {
    display: block !important;
}

.product-sku .sku-size .vip-grid-select .checked::before {
    border-color: #de3d96;
}

.product-sku .sku-size .vip-grid-select .checked span{
    color: #e4007f;
}


/* -----------------------product-sku------------------------------ */


.product-address {
    margin-top: 0.15rem;
    padding: 0.18rem 0.1rem;
    margin-bottom: 0.03rem;
    background-color: #fff;
    overflow: hidden;
}

.product-address .title {
    font-weight: 700;
    color: #222;
    font-size: 0.15rem;
    display: block;
    margin-right: 0.05rem;
    float: left;
}

.product-address .address {
    display: block;
    float: left;
    font-size: 0.12rem;
    line-height: 0.2rem;
    color: #585c64;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-address .address-icon {
    display: block;
    float: left;
    margin-left: 0.05rem;
    width: 0.12rem;
    height: 0.12rem;
    padding-top: 0.04rem;
}

.product-address .address-icon img {
    display: block;
    width: 100%;
    height: 100%;
}


/* ------------------product-address---------------------- */



.product-freight {
    position: relative;
    padding: 0.08rem 0.1rem;
    background-color: #fff;
    overflow: hidden;
}

.product-freight .title {
    font-weight: 700;
    color: #222;
    font-size: 0.15rem;
    display: block;
    margin-right: 0.17rem;
    float: left;
}

.product-freight .text {
    color: #585c64;
    font-size: 0.12rem;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
    line-height: 0.15rem;
}


/* ----------------------product-freight------------------------------ */



.product-services {
    margin-top: 0.15rem;
    position: relative;
    background-color: #fff;
    padding: 0.08rem 0.1rem;
    overflow: hidden;
}

.services-list {
    overflow: hidden;
    width: 3.3rem;
    float: left;
}

.services-list li {
    float: left;
    position: relative;
    margin-right: 0.12rem;
}

.services-list li i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.13rem;
    height: 0.13rem;
    float: left;
    background: url(../img/对.png) no-repeat center center;
    background-size: cover;
}

.services-list li span {
    color: #585c64;
    margin-left: 0.15rem;
    display: block;
    float: left;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.12rem;
}

.product-services .more-btn {
    width: 0.15rem;
    height: 0.03rem;
    float: left;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.15rem;
}



/* ------------------------product-services------------------------------- */


.product-price-chart {
    margin-top: .15rem;
    margin-bottom: 0.1rem;
    padding: .12rem .1rem;
    background-color: #fff;
    overflow: hidden;
}

.product-price-chart .title {
    font-weight: 700;
    color: #222;
    font-size: 0.15rem;
    margin-bottom: 0.12rem;
}

.product-price-chart .bg-image-v {
    background-image: url(../img/price-chart-v.04d0fbc.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 1.6rem;
    position: relative;
}

.product-price-chart .bg-image-v .v-position1 {
    align-items: center;
    position: absolute;
    top: 0.08rem;
    left: 0.12rem;
}

.product-price-chart .bg-image-v .v-position2 {
    align-items: center;
    position: absolute;
    bottom: 0.15rem;
    left: 1.3rem;
}

.product-price-chart .bg-image-v .v-position3 {
    align-items: center;
    position: absolute;
    top: 0.08rem;
    right: 0.12rem;
}

.product-price-chart .bg-image-v .m {
    color: #ada5c5;
    font-size: 0.12rem;
    float: left;
    margin-right: 0.03rem;
}

.product-price-chart .bg-image-v .p {
    color: #ada5c5;
    font-size: 0.14rem;
    float: left;
}


/* ------------------------product-price-chart-------------------------------- */



.product-cart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.product-cart .cart-box {
    align-items: center;
    padding: 0.12rem 0.1rem;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.product-cart .cart-box .product-customer-bar {
    width: 0.42rem;
    height: 100%;
    margin-right: 0.15rem;
    position: relative;
    float: left;
}

.product-cart .cart-box .product-customer-bar::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1px solid #e1e1e1;
    transform-origin: left top;
    transform: scale(.5);
    z-index: 100;
}

.product-cart .cart-box .product-customer-bar .icon-online-service {
    width: 0.21rem;
    height: 0.21rem;
    padding: 0.105rem;
    display: block;
}

.product-cart .cart-box .product-customer-bar .icon-online-service img {
    display: block;
    width: 100%;
    height: 100%;
}

.product-cart .vip-button {
    width: 0.85rem;
    height: 0.42rem;
    margin-right: 0.05rem;
    float: left;
    background: #fff;
    outline: none;
    border: 1px solid #e1e1e1;
}


.product-cart .vip-button .icon {
    width: 0.24rem;
    height: 0.23rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.product-cart .vip-button .icon img {
    display: block;
    width: 100%;
    height: 100%;
}

.product-cart .vip-button .icon .num-brage{
    width: 0.16rem;
    height: 0.16rem;
    line-height: 0.16rem;
    position: absolute;
    top: -0.08rem;
    right: -0.08rem;
    background-color: #de3d96;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
}


.vip-button-large {
    display: block;
    width: 2.03rem;
    height: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 0.42rem;
    background-color: #de3d96;
    color: #fff;
    border-radius: 0.03rem;
    float: left;
}


/* ----------------------------------- */



.wap-backtop {
    display: none;
    width: 0.45rem;
    height: 0.45rem;
    position: fixed;
    right: 0.2rem;
    bottom: 0.9rem;
    border-radius: 50%;
    background-color: rgba(25, 29, 38, .95);
    z-index: 1;
}

.icon-up {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0 auto;
    padding-top: 0.15rem;
    background: url(../img/上箭头.png) no-repeat center center;
    background-size: cover;
}