* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.models-logo {
    width: 3.75rem;
    height: 1.7rem;
    position: relative;
    background: #f6f6f6 url(../img/login_bg.3a93a8bf.jpg) no-repeat 0 0;
}

.icon-login-logo {
    width: 1.25rem;
    height: 0.5rem;
    background: url(../img/logo.ac5608f4.png) no-repeat 0 0;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.iconfont-close {
    width: 0.22rem;
    height: 0.22rem;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
}

.iconfont-close img {
    display: block;
    width: 100%;
    height: 100%;
}



/* ------------------------------------------------------- */



.models-body {
    width: 3.75rem;
    height: 2.31rem;
    position: relative;
}

.ui-form {
    background-color: transparent;
    overflow: hidden;
}

.J-mobile-fast-login {
    width: 100%;
    height: 100%;
}

.ui-form-item {
    height: 52px;
    background: #fff;
    position: relative;
    line-height: 52px;
    padding-left: 15px;
    padding-right: 0;
    clear: both;
    border-bottom: 1px solid #e7e7e7;
}

.ui-form-item label {
    float: left;
    font-size: 16px;
    margin-right: 15px;
    height: 52px;
    line-height: 52px;
    padding: 0;
    display: block;
    position: relative;
    width: auto;
}

.ui-form-item .J-mlogin-ipt {
    float: left;
    font-size: 16px;
    height: 20px;
    background-color: #fff;
    border: none;
    padding: 16px 0 15px;
    color: #222;
    outline: none;
}

.m-mlogin-clear {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: 0px 0px 0px;
    display: block;
}

.m-mlogin-clear img{
    width: 0.2rem;
    height: 0.2rem;
    display: block;
    padding: 0.15rem;
}

.J-mlogin-get-login-authcode {
    color: #4a90e2;
    height: 52px;
    line-height: 52px;
    width: 120px;
    background-color: transparent;
    font-size: 16px;
    border: 0 none;
    border-left: 1px solid #e7e7e7;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}


/* ------------------------------------- */


.submit-box {
    padding: 30px 15px 0;
}

.J-login-models-submit {
    color: #fff;
    background-color: #caccd2;
    background: #de3d96;
    text-align: center;
    border-radius: 22px;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
    height: 44px;
    line-height: 44px;
    pointer-events: auto;
    width: 100%;
}

.mlogin-footer-tips {
    padding-top: 12px;
    padding-left: 24px;
    letter-spacing: .02rem;
    font-size: 12px;
    color: #98989f;
    white-space: normal;
}

.mlogin-rectangle {
    background-position: 0 -22px;
    display: inline-block;
    margin-right: 2px;
    margin-left: -24px;
    width: 21px;
    height: 22px;
    vertical-align: middle;
    background-image: url(../img/rectangle.5d636f59.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mlogin-footer-tips a {
    color: #157efa;
}